<p id="notice"><%= notice %></p>

<p>
  <strong>Ip:</strong>
  <%= @user.ip %>
</p>

<p>
  <strong>Sid:</strong>
  <%= @user.sid %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
