

<h1> <span class="glyphicon glyphicon-time"></span> Timetable</h1> 


<!-- find index time -->
<% index_time=0 %>
<% @time.each do |find| %>
<% break if find[0,2]==@begin_time[0,2] %>
<% index_time+=1 %>
<% end %>

<!-- set new begin_time -->
<% tmp_time=@time[index_time] %>
<!-- find end index time -->
<% end_index_time = ( ( ((@end_time[0,2].to_i*60)+(@end_time[2,4].to_i*2))  - ((@begin_time[0,2].to_i*60)+@begin_time[2,4].to_i) ) /60.00 ).ceil + index_time %>

<!-- <p><%= @begin_time %></p>
<p><%= @end_time %></p>

<p><%= index_time %></p>
<p><%= end_index_time %></p>  -->


<!-- style="table-layout: fixed;" -->
<% if index_time < end_index_time %>
<table class="table" id="table2image" style="table-layout: fixed;" >
	<thead>
		<tr>

			<th bgcolor="<%= @color_tab %>" colspan="2" class="text-center"><%= session[:sid] %> (<%= session[:semester] %>/<%= session[:year] %>)</th>
			<% while index_time<end_index_time %>
			<th bgcolor="<%= @color_tab %>" colspan="2" class="text-center"><%= @time[index_time] %> - <%= @time[index_time+1] %> </th>
			<% index_time+=1 %>
			<% end %>

		</tr>
	</thead>

	<tbody>
		<% for i in 0..6 #0=Monday....4=Friday...6=Sunday %>
		<% @begin_time=tmp_time %>
		<% once=true %>
		<% found_day=false %>
		<% old_time="0" %>
		<tr>


			<% @timetables.each do |t| %>

			<% data = t.split("\0") %>

			<!-- split day || data[2] = day-->
			<%
			a=data[2]
			stud_day = Array.new
			for d in 0..6
				if a.split(/(?=[A-Z])/)[d] != nil
						#puts a.split(/(?=[A-Z])/)[i]
						stud_day << a.split(/(?=[A-Z])/)[d]
					else
						stud_day << "NONE"
						#puts "NONE"
					end
				end 
				%>

				<% print = false %>
				<% stud_day.each do |s| %>
				<% if s==@day1[i] || s==@day2[i] %>
				<% print = true %>
				<% break %>
				<% end %>
				<% end %>


				<!-- print day -->
				<% if print && once  %>
				<td bgcolor="<%= @color_tab %>" colspan="2" class="text-center" ><%= @day[i] %></td>
				<% once=false %>
				<% end %>


				<!-- before print course -->
				<% if print && data[0]!=old_time %>

				<!-- <p><%= data[3] %></p> -->


				<% colspan_blank = ( ((data[0][0,2].to_i*60)+data[0][2,4].to_i) - ((@begin_time[0,2].to_i*60)+@begin_time[2,4].to_i) )/30 %>
				<% @begin_time=data[1] %>

				<!-- <p>blank = <%= colspan_blank %></p> -->
				<% if colspan_blank!=0 %>
				<td bgcolor="<%= @color_blank %>" colspan="<%= colspan_blank %>"></td>
				<% end %>


				<!-- set color index -->
				<% colspan_use = ( ((data[1][0,2].to_i*60)+data[1][2,4].to_i) - ((data[0][0,2].to_i*60)+data[0][2,4].to_i) )/30 %>

				<!-- print course -->
				<td style="vertical-align:middle;" bgcolor="<%= @color[@courses.index(data[4])]%>" colspan="<%= colspan_use %>" class="text-center" >
					<%= data[3] %><br>
					<%= data[5] %>-<%= data[6] %> 
					<span class="glyphicon glyphicon-education"></span>
					<%= data[4] %> <br>
					<span class="glyphicon glyphicon-map-marker"></span>
					<strong><%= data[7] %></strong>
				</td>
				<!-- <p>use = <%= colspan_use %></p> -->
				<% old_time=data[0] #check same day%>


				<% found_day=true %>

				<% end #end if %> 

				<% end #@timetables.each %>


				<!-- add blank to end table -->
				<% colspan_blank = ( ((@time[index_time][0,2].to_i*60)+@time[index_time][2,4].to_i) - ((@begin_time[0,2].to_i*60)+@begin_time[2,4].to_i) )/30 %>

				<% if colspan_blank!=0 && found_day %>
				<td bgcolor="<%= @color_blank %>" colspan="<%= colspan_blank %>"></td>
				<% end %>



			</tr>
			<% end %>

		</tbody>

</table>

<br>

<div class="row">
	<div class="col-md-12 text-center">
		<div id="dowloadTimetable" class="btn btn-default">
			<span class="glyphicon glyphicon-download-alt"></span> Download
		</div>
	</div>
</div>

<% else %>
<div class="alert alert-danger" role="alert">
	  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  <span class="sr-only">Error:</span>
	  ไม่พบการลงทะเบียนเรียน หรือ รายวิชาอาจไม่ได้ระบุเวลาเรียน
</div>
<% end %>

	

	<hr>

</div>



<br/>

<script>

$(document).ready(function(){


var element = $("#table2image"); // global variable

$("#dowloadTimetable").on('click', function () {
	html2canvas(element, 
	{
		onrendered: function (canvas) {
			var a = document.createElement('a');
	        // toDataURL defaults to png, so we need to request a jpeg, then convert for file download.
	        a.href = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
	        a.download = 'timetable-helpers4cmu.png';
	        a.click();
	    }
	});
});

});

</script>


<!-- ___________________________________EXAM_________________________________________________ -->

<% name=["Mid Exam","Final Exam"]%>
<% icon=["leaf","fire"]%>
<% k=0 %>
<% @exam_arr.each do |e| %>
<div class="container">

	<h1>
		<%= name[k] %> <span class="glyphicon glyphicon-<%= icon[k] %>"></span>
	</h1>

	<!-- check exam day is emptry or not? -->
	<% count = 0 %>

	<% e.each do |m|%>

	<% data = m.split("\0") %>
	<!-- <p><%= data[1].to_i %></p> -->
	<% if data[1].to_i != 0 %>
	<% count+=1 %>
	<% end %>

	<% end %>

	<!-- end check -->

	<% if count != 0 %>

	<div class="table-responsive">
			<table class="table" id="<%= icon[k] %>Table" style="table-layout: fixed;">
				<thead>
					<th bgcolor="<%= @color_tab %>" class="text-center" style="vertical-align: middle;">DAY (<%= session[:semester] %>/<%= session[:year] %>)</th>
					<th bgcolor="<%= @color_tab %>" class="text-center" style="vertical-align: middle;">08:00-11:00</th>
					<th bgcolor="<%= @color_tab %>" class="text-center" style="vertical-align: middle;">12:00-15:00</th>
					<th bgcolor="<%= @color_tab %>" class="text-center" style="vertical-align: middle;">15:30-18:30</th>
				</thead>
				<tbody>

					<% old_day = nil %>
					<% old_day_arr = Array.new %>
					<% count=0 %>
					<% time_check = Array["08","12","15"]%>


					<!-- find max day -->

					<% e.each do |m|%>

					<!-- <p><%= m %></p> -->

					<% data = m.split("\0") %>

					<% if data[0][0,2] != "32" %>

					<% if data[0][0,2] != old_day %>
					<!-- <td><%= data[0][0,6] %></td> -->
					<% old_day = data[0][0,2] %>
					<% old_day_arr[count] = data[0][0,2] %>
					<% count+=1 %>
					<% end %>

					<% end %>

					<% end %>


					<!-- display -->
					<% j=0 %>
					<% while j<count %>
					<% i=0 %>
					<% found = true %>
					<tr>

						<% e.each do |m|%>

						<% data = m.split("\0") %>

						<% if data[0][0,2] != "32" %>

						<% if found && data[0][0,2] == old_day_arr[j] %>
						<% found=false %>
						<td bgcolor="<%= @color_tab %>" class="text-center"><%= data[0][0,6] %></td>
						<% end %>

						<% if old_day_arr[j] ==data[0][0,2] %>
						<% while i<time_check.length %>
						<% if data[1][0,2] == time_check[i] %>
						<td bgcolor="<%= @color_blank %>" class="text-center"><%= data[2] %></td>
						<% i+=1 %>
						<% break %>
						<% else %>
						<td bgcolor="<%= @color_blank %>" ></td>
						<% i+=1 %>
						<% end %>
						<% end %>
						<% end %>

						<% end %> 

						<% end %>

						<% if i==1 %>
						<td bgcolor="<%= @color_blank %>"></td>
						<td bgcolor="<%= @color_blank %>"></td>
						<% end %>

						<% if i==2 %>
						<td bgcolor="<%= @color_blank %>"></td>
						<% end %>

					</tr>
					<% j+=1 %>
					<% end %>

				</tbody>

			</table>
	</div>

	<div class="row">
		<div class="col-md-12 text-center">
			<div id="<%= icon[k] %>" class="btn btn-default">
				<span class="glyphicon glyphicon-download-alt"></span> Download
			</div>
		</div>
	</div>

	<% else %>

	<div class="alert alert-danger" role="alert">
	  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  <span class="sr-only">Error:</span>
	  ไม่พบการลงทะเบียนเรียน หรือ รายวิชาอาจไม่ได้ระบุเวลาสอบ
	</div>

	
	<% end %>

	<hr>
	
</div>
<% k+=1 %>
<% end %>

<script>
$(document).ready(function(){


var element = $("#leafTable"); // global variable
var element2 = $("#fireTable"); // global variable

$("#leaf").on('click', function () {
	html2canvas(element, 
	{
		onrendered: function (canvas) {
			var a = document.createElement('a');
	        // toDataURL defaults to png, so we need to request a jpeg, then convert for file download.
	        a.href = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
	        a.download = 'mid-helpers4cmu.png';
	        a.click();
	    }
	});
});

$("#fire").on('click', function () {
	html2canvas(element2, 
	{
		onrendered: function (canvas) {
			var a = document.createElement('a');
	        // toDataURL defaults to png, so we need to request a jpeg, then convert for file download.
	        a.href = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
	        a.download = 'final-helpers4cmu.png';
	        a.click();
	    }
	});
});

});
</script>



<!-- _____________________________________COMMENT_______________________________________________ -->
<div class="container">
	<h1>Comments <span class="glyphicon glyphicon-comment"></span></h1>

	<hr>
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="fb-comments " data-href="https://developers.facebook.com/timetable4cmu" data-numposts="5" data-colorscheme="dark" data-order-by="reverse_time"></div>
		</div>

		<div class="col-md-12 text-center">
			<div class="fb-follow" data-href="https://www.facebook.com/KampeeTonOi.Aecute" data-layout="button_count" data-show-faces="true"></div>
			<div class="fb-like" data-href="https://helpers4cmu.herokuapp.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		</div>
	</div>
</div>

