<h1>Login</h1>

<%= form_tag('/login', class: "form-group") do %>

<div class="row">

	<div class="col-sm-4" >
	<%= label_tag 'Student id' %>
	<%= text_field_tag 'sid', nil, class: "form-control" %>
	</div>

	<div class="col-sm-2">
	<%= label_tag 'Semester' %>
	<select name="semester" class="form-control">
	  <option value="1">1</option>
	  <option value="2">2</option>
	  <option value="3">Summer</option>
	</select>
	</div>

	<% current_year = Date.today.year+543 %>
	<% start_year = 2557 %>
	
	<div class="col-sm-2">
	<%= label_tag 'Year' %>
	<select name="year" class="form-control">
	<% while current_year >= start_year do%>
		<option value="<%= current_year.to_s[2,4] %>"><%= current_year %></option>
		<% current_year-=1 %>
	<% end %>
	</select>
	</div>

	<div class="col-sm-2">
	<%= label_tag 'Submit' %>
	<%= submit_tag 'Submit', class: "form-control"%>
	</div>


	<div class="col-sm-2">
	<%= label_tag 'Reset' %>
	<%= submit_tag 'Reset', type: :reset , class: "form-control"%>
	</div>

</div>

<hr>
<div class="row">
<div class="col-sm-12 text-center">** Support: MTh, TuF, SaSu, We, Mo, Tu, Th, Fr, Sa, Su</div>
</div>

<% end %>