<h1>Login</h1>

<%= form_tag('/login', id: 'login_form', class: "form-group") do %>

<div class="row">

	<div class="col-sm-4" >
	<%= label_tag 'Student id' %>
	<%= telephone_field_tag 'sid', nil, class: "form-control" %>
	</div>

	<div class="col-sm-2">
	<%= label_tag 'Semester' %>
	<select name="semester" class="form-control">
	  <option value="1">1</option>
	  <option value="2">2</option>
	  <option value="3">Summer</option>
	</select>
	</div>

	<% current_year = Date.today.year+543 %>
	<% start_year = 2557 %>
	
	<div class="col-sm-2">
	<%= label_tag 'Year' %>
	<select name="year" class="form-control">
	<% while current_year >= start_year do%>
		<option value="<%= current_year.to_s[2,4] %>"><%= current_year %></option>
		<% current_year-=1 %>
	<% end %>
	</select>
	</div>

	<div class="col-sm-2">
	<%= label_tag 'Submit' %>
	<%= submit_tag 'Submit', id: :submit , class: "form-control btn btn-default"%>
	</div>


	<div class="col-sm-2">
	<%= label_tag 'Reset' %>
	<%= submit_tag 'Reset', type: :reset , class: "form-control btn btn-default"%>
	</div>

</div>


<% end %>

<hr>


<div class="container">

	<div class="col-md-12 text-center">
		<div class="fb-like" data-href="https://timetable4cmu.herokuapp.com/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
		<div class="fb-share-button" data-href="https://timetable4cmu.herokuapp.com/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftimetable4cmu.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a></div>
	</div>

</div>

<br><br>

<% if Welcome.first %>
  <div class="col-12 text-center">
    <h1 class="display-5">
      <%= Welcome.first.message %>
    </h1>
  </div>
<% end %>

<div class="row" id="loading">
	<div class="col-sm-12 text-center">
	  <br><br>
    <i class="fas fa-circle-notch fa-spin fa-3x fa-fw"></i>
		<span class="sr-only">Loading...</span>
	</div>
</div>
	
