<% height = 0 %>
<div class="cd-schedule">
  <div class="timeline">
      <ul>

        <% @times.each_with_index do |time, index| %>

          <% if time >= @range[:start_time] && time <= @range[:end_time]  %>
            <li><span><%= time[0,2] %>:<%= time[2,4] %></span></li>
            
            <% if time[0,2] != @range[:end_time][0,2] %>
              <li class="<%= @range[:end_time] %> ? <%= time %>"><span><%= time[0,2] %>:30</span></li>              
            <% end %>
            
            <% height += 100 %>

          <% end %>

        <% end %>

      </ul>
  </div>

  <div class="events">
    <ul>

      <% @days.each do |day| %>

        <% check_day = 0 %>
        <% @course_days.each do |key, value| %>
          <% check_day +=1 if day.include?(key) %>
        <% end %>
        <% next if check_day==0 %>

        <li class="events-group">
          <div class="top-info black"><span><%= day  %></span></div>
          <ul class="gray" style="height: <%= height-50 %>px">
            <% @courses.each_with_index do |course, index| %>

              <% if day.include?(course[:day]) %>

                <li class="single-event <%= @classes[course[:no]] %>" data-start="<%= course[:time][:start][0,2]%>:<%= course[:time][:start][2,4] %>" data-end="<%= course[:time][:end][0,2]%>:<%= course[:time][:end][2,4] %>" data-content="timetable4cmu" data-event="event-<%= index %>">
                  <em class="event-name"><%= course[:name] %></em>
                </li>

              <% end %>
              
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
