
<% if notice.present?  %>
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong><i class="fas fa-info"></i></strong>  <%= notice %>.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
<% end %>

<h1>Login</h1>

<%= form_tag(enrollment_show_path, class: "form-group") do %>

<div class="row">

	<div class="col-sm-4" >
		<%= label_tag 'Student Id' %>
		<%= telephone_field_tag 'sid', nil, class: "form-control", placeholder: "ex. 570510628" %>
	</div>

	<div class="col-sm-4" >
		<%= label_tag 'Term' %>
		<%= telephone_field_tag 'term', nil, class: "form-control", placeholder: "ex. 1/57" %>
	</div>

	<div class="col-sm-4" style="padding-top: 30px;">
		<%= button_tag "Submit", class: "btn btn-outline-light btn-block", data: { disable_with: '<i class="fas fa-circle-notch fa-spin fa-1x fa-fw"></i>' } %>
	</div>

</div>


<% end %>

<hr>


<div class="container">

	<div class="col-md-12 text-center">
		<div class="fb-like" data-href="https://timetable4cmu.herokuapp.com/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
		<div class="fb-share-button" data-href="https://timetable4cmu.herokuapp.com/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftimetable4cmu.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a></div>
	</div>

</div>

<br><br>

<% if Welcome.first %>
  <div class="col-12 text-center">
    <h1 class="display-5">
      <%= Welcome.first.message %>
    </h1>
  </div>
<% end %>

	
