
<br>

<div class="col-sm-12 text-center">
  <h3><i class="fas fa-user-graduate"></i> <%= @sid %></h3>
</div>

<hr>

<h1> <i class="fas fa-calendar-alt"></i> Timetable</h1> 

<%= render 'timetable', times: @times, days: @days, classes: @classes, courses: @courses, range: @range, course_days: @course_days %>

<hr>

<h1> <i class="fas fa-leaf"></i> Midterm Exam</h1> 

<%= render 'mid_exam', id: 'mid', times: @times, days: @days, classes: @classes, courses: @courses, range: @range_mid, course_days: @mid_days %>

<hr>

<h1> <i class="fas fa-fire"></i> Final Exam</h1> 

<%= render 'final_exam', id: 'final', times: @times, days: @days, classes: @classes, courses: @courses, range: @range_final, course_days: @final_days %>

<hr>

<%= render 'fb_comments' %>

