
<% if notice.present?  %>
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong><i class="fas fa-info"></i></strong>  <%= notice %>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
<% end %>

<h1>Login</h1>

<%= form_tag(enrollments_path, class: "form-group") do %>

<div class="row">

	<div class="col-sm-4" >
		<%= label_tag 'Student Id' %>
		<%= telephone_field_tag 'sid', nil, class: "form-control", placeholder: "ex. 5705106XX", tabindex: 1 %>
	</div>

	<div class="col-sm-4" >
		<%= label_tag 'Term' %>
		<button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
			<i class="fas fa-question-circle"></i>
		</button>
		<%= telephone_field_tag 'term', nil, class: "form-control", placeholder: "ex. 1/5X", tabindex: 2 %>
	</div>

	<div class="col-sm-4" style="padding-top: 32px;">
		<%= submit_tag "Submit", id: 'submit', class: "btn btn-outline-light btn-block" %>
		<%= button_tag id: 'loading', class: "btn btn-outline-light btn-block", disabled: true do %>
			<i class="fas fa-circle-notch fa-spin fa-1x fa-fw"></i> Loading...
		<% end %>
	</div>

</div>


<% end %>

<hr>

<div class="container">

	<div class="col-md-12 text-center">
		<div class="fb-like" data-href="https://timetable4cmu.herokuapp.com/login" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
		<div class="fb-share-button" data-href="https://timetable4cmu.herokuapp.com/login" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftimetable4cmu.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a></div>
	</div>

</div>

<br><br>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Term?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="color: black;">
        <p>1/57 = เทอม 1 ปีการศึกษา 2557 </p>
        <p>2/59 = เทอม 2 ปีการศึกษา 2559 </p>
				<p>3/61 = Summer ปีการศึกษา 2561</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


	
