<!DOCTYPE html>
<html>
<head>
	<title>Timetable for CMU</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/svg-business-icons/512/Date_and_time-512.png">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>


  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

  <!-- share settings -->
  <meta property="og:title" content="Timetable for CMU" />
  <meta property="og:image" content="https://cdn.pixabay.com/photo/2015/04/20/13/17/book-731199_960_720.jpg" />
  <meta property="og:description" content="อยากได้ตารางเรียนใช่มั้ย จัดไป! ตารางสอบก็มีนะเออ อื่นๆอีกเพียบ แน่จริงกดเข้ามา เอ้า...รออะไรอยู่ กดโลดดดด!" />


  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-4672941856367103",
      enable_page_level_ads: true
    });
  </script>
</head>

<body style="color: white; font-family: 'Oxygen', sans-serif; background-color: #303030;">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/" data-turbolinks="false"><i class="far fa-calendar-alt"></i>  Timetable for CMU</a>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="<%= developers_url %>" class="nav-link" data-turbolinks="false">
            <kbd><i class="fas fa-code"></i></kbd> API for Developers
          </a>
        </li>
        </li>
        <% if session[:sid] != nil %>
        <li class="nav-item">
          <a href="#" class="nav-link">
          <i class="fas fa-user-tie"></i> Welcome <%= session[:sid] %>
          </a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link" id="logout" data-turbolinks="false" >
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>
        </li>
        <% end %>
      </ul>
  </nav>

<br><br><br>



<div class="page-wrap">
  <div class="container">
    <main><%= yield %></main>
  </div>    
</div>

<footer class="site-footer">
  <div class="container">
    <table class="table" >
    <tbody>
      <td class="text-muted text-left" style=" border-style:none;">
        <a class="text-warning" href="https://www.facebook.com/KampeeTonOi.Aecute" target="_blank">
        <i class="fas fa-laptop-code"></i> Aquzohr</a>
      </td>
    </tbody>
    </table>
      
  </div>
</footer>

<script>

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.9&appId=138089850096182";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));


  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100877704-1', 'auto');
  ga('send', 'pageview');


</script>

</body>
</html>


