<!DOCTYPE html>
<html>
<head>
	<title>Timetable for CMU</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/svg-business-icons/512/Date_and_time-512.png">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>


  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

  <!-- share settings -->
  <meta property="og:title" content="Helpers for CMU | Kampee TonOi (Aecute)" />
  <meta property="og:image" content="https://cdn.pixabay.com/photo/2015/04/20/13/17/book-731199_960_720.jpg" />
  <meta property="og:description" content="ผู้ช่วยเพื่อชาว มช. | อยากได้ตารางเรียนใช่มั้ย จัดไป! ตารางสอบก็มีนะเออ อื่นๆอีกเพียบ แน่จริงกดเข้ามา อุส่าแชร์มาให้เพื่อนๆลองใช้ เอ้า...รออะไรอยู่ กดโลด" />



</head>

<body style="color: white; font-family: 'Oxygen', sans-serif; background-color: #303030;">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      
      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav navbar-left">
          <li>
            <a class="navbar-brand" href="/" data-no-turbolink='true'>
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Timetable for CMU (BETA)</a>
          </li>

        </ul>

       <% if session[:sid] != nil %>
       <ul class="nav navbar-nav navbar-right">
        <li><a href="#">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Welcome, <%= session[:sid] %></a></li>
        <li><a href="/logout" id="logout" data-no-turbolink='true'><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
      </ul>
      <% end %>

    </div>
  </div>
</nav>

<br><br><br>



<div class="page-wrap">
<div class="container">
<main><%= yield %></main>
</div>    
</div>

<footer class="site-footer">
  <div class="container">
  <table class="table" >
  <tbody>
    <td class="text-muted text-left" style=" border-style:none;">
    <a class="text-warning" href="https://www.facebook.com/KampeeTonOi.Aecute" target="_blank">
    <span class="glyphicon glyphicon-console"></span> aecute</a></td>
    <td class="text-muted text-right" style=" border-style:none;">
    </td>
  </tbody>
  </table>
</div>
</footer>


<script>

  // $('#login_form').submit(function() {
  //   $(".se-pre-con").fadeIn("slow");
  // });


  // $(window).load(function() {
  //   // Animate loader off screen
  //   $(".se-pre-con").fadeOut();
  // });



  window.fbAsyncInit = function() {
    FB.init({
      appId      : '508252642696166',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

</script>


</body>
<!-- <div class="se-pre-con"></div> -->
</html>
